@model Blog.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<div class="entry-container">
    <i>@Html.DisplayFor(model => model.PublishDate)</i>
    <a asp-controller="Entries" asp-action="Details" asp-route-id="@Model.ID"><h3>@Html.DisplayFor(model => model.Title)</h3></a>
    <a asp-controller="Entries" asp-action="Profile" asp-route-ProfileID="@Model.Author"><p>@Html.DisplayFor(model => model.Author)</p></a>
    <br />
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>
    <br />
</div>