@model blog.Models.Entry

@{
    ViewData["Title"] = "Details";
}

<div class="entry-container">
    <i>@Html.DisplayFor(model => model.PublishDate)</i>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <a asp-controller="Entries" asp-action="Profile" asp-route-ProfileID="@Model.Author"><p>@Html.DisplayFor(model => model.Author)</p></a>
    <br />
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>
    <br />

    @if (@User.Identity.Name == Model.Author)
    {
        <a asp-controller="Entries" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        <a asp-controller="Entries" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>

    }

    <h4>Comments</h4>
    @await Component.InvokeAsync("CreateComment", new { EntryID = Model.ID })
    @await Component.InvokeAsync("ListComment", new { EntryID = Model.ID })
</div>