@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<blog.Models.Entry>

@{
    ViewData["Title"] = "Index";
}

<h2>Profile</h2>

@foreach (var item in Model.Where(n => n.Author == User.Identity.Name))
{
    <div id="entry-container">
        <i>@Html.DisplayFor(modelItem => item.PublishDate)</i>
        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        <p>
            @Html.DisplayFor(modelItem => item.Content)
        </p>
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
    </div>
}
